*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    border: 3px solid #000;
    width: 100%;
    margin: auto;
    /* The potential height of the nav section. */
    display: flex;
    /* justify-items: center; */
}
.name{
    border: 3px solid #f00;
    width: 30%;
    padding: 20px;
    text-align: left;
}
#name{
    font-size: 4vh;
}
.menu{
    border: 3px solid #f00;
    width: 50%;
    padding: 20px;
    display: flex;
    margin-left: 20%;
    text-align: right;
    justify-content: right;
    justify-items: center;
}
li{
    list-style-type: none;
    display: inline;
}
.nav-links{
    text-decoration: none;
    font-size: 3vh;
}
.header{
    border: 3px solid #0f0;
    width: 100%;
    margin: 3% auto 1%;
}
#title{
    font-size: 5vh;
    text-align: center;
}
.description{
    border: 3px solid #00f;
    width: 100%;
}
#text{
    text-align: center;
    font-size: 2vh;
}
.box{
    border: 2px solid #000;
    width: 20%;
    /* height: 400px; */
    display:inline-block;
    margin-left: 10%;
    margin-top: 3%;
}
.plant{
    border: 2px solid #f00;
    width: 100%;
    position: relative;
}
#plant1{
    /* background-image: url(./img/plant-1.jpeg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
#plant2{
    /* background-image: url(./img/plant-2.jpeg); */
    width: 100%;
}
#plant3{
    /* background-image: url(./img/plant-3.jpeg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.price{
    border: 2px solid #0f0;
    width: 86%;
    /* height: 40%; */
    margin: auto;
    margin-top: -10%;
    background-color: #fff;
}
.price p{
    font-size: 20px;
    text-align: center;
}
.price .dollar{
    margin-top: 15%;
    font-size: 25px;
    font-weight: bold;
}
.learn-more{
    border: 3px solid #00f;
    width: 20vh;
    height: 7vh;
    overflow:hidden;
    margin: 3% auto;
    text-align: center;
}
