@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bowlby+One+SC&family=Ceviche+One&family=Dancing+Script&family=Grape+Nuts&family=Kaisei+Opti&family=Lobster&family=Mansalva&family=Meddon&family=Permanent+Marker&family=Rubik+Burned&family=Sorts+Mill+Goudy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    /* border: 3px solid #000; */
    background-color: #f1f1f1;
    width: 100%;
    margin: auto;
    display: flex;
    /* justify-items: center; */
}
.name{
    /* border: 3px solid #f00; */
    width: 30%;
    padding: 20px;
    text-align: left;
    color: #01362c;
    margin-left: 2%;
}
#name{
    font-size: 4vh;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
}
.menu{
    /* border: 3px solid #f00; */
    width: 50%;
    padding: 20px;
    display: flex;
    margin-left: 20%;
    text-align: right;
    justify-content: right;
    justify-items: center;
    margin-right: 1%;
    margin-top: 0.5%;
    font-family: 'Kaisei Opti', serif;
}
li{
    list-style-type: none;
    display: inline;
}
.nav-links{
    text-decoration: none;
    font-size: 3vh;
    color: #01362c;
}
.nav-links:hover{
    text-decoration: underline;
    font-size: 190%;
    color: #04aa6d;
}
.header{
    /* border: 3px solid #0f0; */
    width: 100%;
    margin: 3% auto 1%;
}
#title{
    font-size: 5vh;
    text-align: center;
}
.description{
    /* border: 3px solid #00f; */
    width: 100%;
}
#text{
    text-align: center;
    font-size: 2vh;
}
.box{
    /* border: 2px solid #000; */
    width: 20%;
    /* height: 400px; */
    display:inline-block;
    margin-left: 10%;
    margin-top: 3%;
}
.plant{
    /* border: 2px solid #f00; */
    width: 100%;
    position: relative;
}
#plant1{
    /* background-image: url(./img/plant-1.jpeg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
#plant2{
    /* background-image: url(./img/plant-2.jpeg); */
    width: 100%;
}
#plant3{
    /* background-image: url(./img/plant-3.jpeg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.price{
    /* border: 2px solid #000; */
    box-shadow: 3px 3px 20px #2f2f2f;
    width: 86%;
    /* height: 40%; */
    margin: auto;
    margin-top: -10%;
    background-color: #fff;
    padding: 10px 0;
}
.price p{
    font-size: 20px;
    text-align: center;
}
.price .dollar{
    margin-top: 15%;
    font-size: 25px;
    font-weight: bold;
}
.learn-more{
    /* border: 1.5px solid #000; */
    width: 100%;
    margin: 3% auto;
    text-align: center;
}
.button{
    border: 1.5px solid #fff;
    border-radius: 10px;
    width: 20vh;
    margin: auto;
    height: 7vh;
    background-color: #fff;
    color: #000;
    padding-top: 1%;
    overflow: hidden;
    font-size: 20px;
    box-shadow: 1px 1px 5px #1f1f1f;
}
.button-link{
    text-decoration: none;
}
.button-link:visited{
    color: #000;
}
.button:hover{
    background-color: #ddd;
    text-decoration: underline;
}
.credits{
    /* border: 3px solid #000; */
    width: 100%;
    padding: 30px;
    background-color: #333;
    color: #fff;
    text-align: center;
}
.credits-link{
    text-decoration: none;    
}
.credits-link:visited{
    color: #fff;
}
.credits-link:hover{
    text-decoration: underline;
}